
html {
    height: -webkit-fill-available;
}

body {
    height: 100%;
    margin: 0%;
    
}

* {
    font-family : Georgia, 'Times New Roman', Times, serif ;
}

/* haut de la page */

header {
    display: flex;
    align-items: center;
    height: 8%;
    margin-bottom: 0.5%;
}

header img {
    width: 15%;
    margin: 3px 5px 3px 2px;
}



/* menu de navigation */

nav.onglet {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70%;

}

nav.nav li {
    color: black;
}

a:link { 
    text-decoration:none; 
} 

nav.reseau {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

nav.reseau li {
    display: flex;
    list-style: none;
}

nav.reseau li a img {
    width: 35px;
    margin: auto;

}



/* landing page */

div.landing_page {
    display: flex;
    background: url("../images/banderole.jpg");
    height: 20%;
    width: 100%;
    justify-content: center;
}

div.landing_page h1{
    display: flex;
    color: black;
    font-size: 50px;
    
}

/* deuxième partie du body */


div.gigantesque_div {
    display: flex;
    height: 80%;
    flex-direction: column;
}

div.enorme_div {
    display: flex;
    margin-top: 10px;
    height: 80%;
    width: 100%;
    justify-content:space-between;

}

div.evenement {
    display: flex;
    width: 50%;
}

div.grosse_div {
    display: flex;
    width: 50%;
    justify-content: center;
}

div.fil {
    width: 80%;
}


/* Partie footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

nav.logo_gauche {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

nav.logo_gauche img {
    width: 25%;

}

nav.ml {
    width: 30%;

}

nav.logo_droit {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

nav.logo_droit img {
    width: 15%;

}



/* fil twitter */

/* <a class="twitter-timeline" data-width="500" data-height="500" data-theme="dark" 
href="https://twitter.com/ChartreuseGame?ref_src=twsrc%5Etfw">Tweets by ChartreuseGame</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> */
