$bg-color: rgb(26, 26, 26);
$special-color: rgb(205, 79, 74);
$subtext-color: #e6e6e6;
$text-color: #ffffff;
$bg-color-alt: rgb(24, 29, 51);
$special-color-alt: rgb(173, 54, 44);
$footer-text-color: #b9b9b9;

$text-font: "Open Sans", "Helvetica", "Arial", sans-serif;
$title-font: "Lemon Milk", "Georgia", "Arial", sans-serif;
