---
import { SITE_TITLE, SITE_URL } from "../consts";

const year: number = new Date().getFullYear();
---

<footer>
  <section class="content">
    <p>
      &copy; {year}
      <a href={SITE_URL}>{SITE_TITLE}</a>.
    </p>
    <p>Tous droits réservés.</p>
  </section>
</footer>

<style lang="scss">
  @import "../styles/variables.scss";

  footer {
    position: relative;
    padding: 24px 0;
    background-color: $bg-color;
    box-shadow: 0 -6px 10px -4px rgba(0, 0, 0, 0.7);

    section {
      padding: 0 1rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      font-family: $text-font;

      p {
        font-size: 0.84em;
        color: $footer-text-color;

        a {
          text-decoration: none;
          color: $footer-text-color;
          display: inline-flex;
          align-items: center;
          transition: color 150ms;
          text-transform: uppercase;

          &:hover {
            color: $text-color;
          }
        }
      }
    }

    @media (max-width: 420px) {
      padding: 30px 0;
    }
  }
</style>
