---
import { SITE_TITLE, SITE_URL } from "../consts";

const year: number = new Date().getFullYear();
---

<footer>
  <p>
    &copy; {year}
    <a href={SITE_URL}>{SITE_TITLE}</a>.
  </p>
  <p>Tous droits réservés.</p>
</footer>

<style lang="scss">
  @import "../styles/variables.scss";

  footer {
    padding: 24px 1rem;
    background-color: $bg-color;
    box-shadow: 0 -6px 10px -4px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    p {
      font-size: 0.84em;
      color: $footer-text-color;

      a {
        text-decoration: none;
        color: $footer-text-color;
        transition: color 150ms;
        text-transform: uppercase;
        margin-left: 0.25rem;

        &:hover {
          color: $text-color;
        }
      }
    }
  }
</style>
